
<header class="header">
    <nav class="navbar navbar-expand-lg navbar-light bg-light ">
        <div class="collapse navbar-collapse " id="navbarNavAltMarkup">
          <div class="navbar-nav text-left background:transparent">
            <a class="nav-item nav-link active" href="#">Home <span class="sr-only">(current)</span></a>
            <a class="nav-item nav-link" href="#">About</a>
            <a class="nav-item nav-link" href="#">Projects</a>
            <a class="nav-item nav-link" href="#">Connect</a>
          </div>
        </div>
      </nav>
</header>