
<header class="header">
    <nav class="navbar navbar-expand-lg navbar-light bg-light  navbar-dark bg-transparent">
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-item nav-link" href="#home">Home</a>
            <a class="nav-item nav-link" href="#about">About</a>
            <a class="nav-item nav-link" href="#projects">Projects</a>
            <a class="nav-item nav-link" href="#connect">Connect</a>
          </div>
        </div>
      </nav>
</header>