<div class="container-project">
    <img  class="image-fondo" src="https://images.unsplash.com/photo-1615077127589-21c335350854?ixlib=rb-1.2.1&q=85&fm=jpg&crop=entropy&cs=srgb&h=1500&w=2000&fit=clip&fm=jpg">
    <div class="home-opacity">
    </div>

    <div class="home-info">
        <h1>PROJECTS</h1>
        <div class="container-pj">
            <div class="container-abejita">
                <img class="project-image" src="./assets/images/datalovers.png">
                <button>DATA LOVERS</button>
            </div>
            <div class="container-abejita">
                <img class="project-image" src="./assets/images/redsocial.png">
                <button>SOCIAL NETWORK</button>
            </div>
    
            <div class="container-abejita">
                <img class="project-image" src="./assets/images/ecommerce.png">
                <button>WEB ECOMMERCE</button>
            </div>    
        </div>
        

    </div>
</div>
