<div class="container-project" name="projects" id="projects">
    <img  class="image-fondo" src="https://images.unsplash.com/photo-1615077127589-21c335350854?ixlib=rb-1.2.1&q=85&fm=jpg&crop=entropy&cs=srgb&h=1500&w=2000&fit=clip&fm=jpg">
    <div class="home-opacity">
    </div>

    <div class="home-info">
        <h1>PROJECTS</h1>
        <div class="container-pj">
            <div class="project-content">
                <img class="project-image" src="./assets/images/datalovers.png">
                <a href="https://maffperez.github.io/LIM015-data-lovers/" target="_blank">DATA LOVERS</a>
            </div>

            <div class="project-content">
                <img class="project-image" src="./assets/images/redsocial.png">
                <a href="https://maffperez.github.io/LIM015-social-network/" target="_blank">SOCIAL NETWORK</a>
            </div>

            <div class="project-content">
                <img class="project-image" src="./assets/images/ecommerce.png">
                <a href="https://app-ecommerce-mafer.netlify.app/" target="_blank">WEB ECOMMERCE</a>
            </div>
        </div>

    </div>
</div>
