<section class="container p-4" name="connect" id="connect">
    <h1 class="text-center p-4">CONNECT</h1>
        <div class="row ">
            <figure class="col-md-4 all-icons">
                <a href="https://github.com/MaffPerez?tab=stars" target="_blank">
                    <img class="img-size" src="./assets/images/github-icon.png" alt="imagen del icono de github" >
                    </a>
                    <figcaption>GITHUB</figcaption>
                </figure>

            <figure class="col-md-4 all-icons">
                <a href="https://www.linkedin.com/in/maria-fernanda-perez-campos-b4037a220" target="_blank">
                    <img  class="img-size" src="./assets/images/linkedin-icon.png" alt="imagen del icono de linkedin">
                    </a>
                    <figcaption>LINKEDIN</figcaption>
            </figure>

            <figure class="col-md-4 all-icons">
                <a href="mailto:maferperezcampos99@gmail.com" target="_blank">
                    <img  class="img-size" src="./assets/images/gmail-icon.png" alt="imagen del icono de linkedin">
                    </a>
                    <figcaption>GMAIL</figcaption>
            </figure>
        </div>
</section>
