<section class="container p-4">
    <h1 class="text-center p-4">Connect</h1>
        <div class="row ">
            <figure class="col-md-4 all-icons">
                <img class="img-size" src="./assets/images/github-icon.png" alt="imagen del icono de github" >
                <figcaption>GITHUB</figcaption>
            </figure>
            <figure class="col-md-4 all-icons">
                <img  class="img-size" src="./assets/images/linkedin-icon.png" alt="imagen del icono de linkedin">
                <figcaption>LINKEDIN</figcaption>
            </figure>
            <figure class="col-md-4 all-icons">
                <img  class="img-size" src="./assets/images/gmail-icon.png" alt="imagen del icono de linkedin">
                <figcaption>GMAIL</figcaption>
            </figure>
        </div>
</section>
