section{
    height: 80vh;
    display: flex;
    align-items: stretch;
    justify-content: space-evenly;
    flex-direction: column;
}
.img-size{
    width:200px;
}
.all-icons{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap:20px;
}
a:hover{
    cursor: pointer;
    // box-shadow: 0 0.4rem 1.4rem 0 #afa4a4;
    transition:all .5s cubic-bezier(.7,0,.3,1);
    transform: scale(1.1);
}